body {
    background: url("https://cdn.pixabay.com/photo/2016/11/29/10/07/tiger-1868911_960_720.jpg") no-repeat center fixed;
    background-size: cover;
    /* background-repeat: no-repeat; */
    /* background-attachment:  fixed; */
}


h1 {
    color: #ffff;
    text-align: center;
}

