video {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -360px;
    margin-left: -650px;
    z-index: 1;
}

div {
    position: relative;
    z-index: 2;
    margin: 0 auto;
    max-width: 720px;
    text-align: center;
    margin-top: 20%;
    font-family: "roboto";
    border-radius: 5px;
    background-color: #b0b0b0;
    margin-top: 15%;
   

}

h1 {
    font-size: 50px;
}

p {
    font-size: 20px;
}

a {
    display: inline-block;
    text-decoration: none;
    padding: 20px;
    border: 3px solid #e5dfdf;
    color: #fff;
}